{% extends 'base.html.twig' %}

{% block title %}
	ACCUEIL
{% endblock %}

{% block body %}
coucou

		{# {% for categorie in categories %}
			<h2>{{ categorie.nomcat }}</h2>
			<a href="{{path('list', {'id':cat.id,'sousrubriqueart':cat.nomcat})}}" class="btn btn-warning">Voir les produits</a>
#}

{# <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/souscategorie/2" role="button" aria-haspopup="true" aria-expanded="false">PERRUQUES</a>
					<div class="dropdown-menu dark">
						<a class="dropdown-item" href="/souscategorie/7">CARRÉ PLONGEANT</a>
						<a class="dropdown-item" href="/souscategorie/8">PERRUQUE COURTE</a>
						<a class="dropdown-item" href="/souscategorie/9">PERRUQUE 360°</a>
						<a class="dropdown-item" href="/souscategorie/10">PERRUQUE DE COULEUR</a>
						<a class="dropdown-item" href="/souscategorie/11">PERRUQUE FRANGE</a>
						<a class="dropdown-item" href="/souscategorie/12">PERRUQUE SANS COLLE</a>
					</div>
				</li>  #}

<!-- <img src="images/Perruques 360°/image50.jpeg" alt=""> -->

{# <main class="container">
	<section class="row">
		{% for categorie in categories %}
			{% if categorie.parent == null %}
					<h2>{{ categorie.nomcat }}</h2>
						<div class="row">
					{% for cat in categorie.categories %}
                        <div class="col-4"> 
						<div class="card" style="width: 15rem;">
							<div class="card-body" >
								<h8 class="card-title">{{ cat.nomcat }}</h8>
                                <a href="{{path('list', {'id':cat.id,'sousrubriqueart':cat.nomcat})}}" class="btn btn-warning">Voir les produits</a>
							</div>
						</div>
						</div>
					{% endfor %}
						</div>
			{% endif %}
		{% endfor %} #}
		<!--<div class"col-12">
			{{ dump() }}
		</div>-->
	</section>
</main>


<!--
<div class="container">
			<section class="row">
				<div class="col-12"></div>
				<div class="card" style="width: 18rem;">
					<img src="{{ asset('images/Accessoires/BONNETS/bo1.jpeg') }}" class="d-block w-100" alt="..."/>
					<div class="card-body">
						<h5 class="card-title">Bonnets</h5>
						<p> 3.00£ </p> 
						<a href="{{ path('app_bonnet') }}" class="btn btn-primary">Voir l'article</a>
					</br>
		
				</div>
		
			    </div>
		    </section></br>
		</div> 
		    <div class="container">
				<section class="row">
		            <div class="col-12"></div>
		            <div class="card" style="width: 18rem;">
			            <img src="{{ asset('images/Accessoires/COLORATION/colo2.jpeg') }}" class="d-block w-100" alt="..."/>
			            <div class="card-body">
				            <h5 class="card-title">Coloration</h5>
							    <p> 10.00£ </p> 
		
				            <a href="{{ path('app_coloration') }}" class="btn btn-primary">Voir l'article</a>
			                  </br>
		                </div>
		            </div>
		        </section></br>
			</div>
			 <div class="container">
				<section class="row">
		            <div class="col-12"></div>
		            <div class="card" style="width: 18rem;">
			            <img src="{{ asset('images/Accessoires/acc.JPG') }}" class="d-block w-100" alt="..."/>
			            <div class="card-body">
				            <h5 class="card-title">Lisseur peigne chauffant</h5>
								<p> 25.00£ </p> 
		
				            <a href="{{ path('app_lisseur_peigne_chauffant') }}" class="btn btn-primary">Voir l'article</a>
			                  </br>
		                </div>
		            </div>
		        </section></br>
			</div> 
		
			 <div class="container">
				<section class="row">
		            <div class="col-12"></div>
		            <div class="card" style="width: 18rem;">
			            <img src="{{ asset('images/Perruques/Carré plongeant/image4.jpg') }}" class="d-block w-100" alt="..."/>
			            <div class="card-body">
				            <h5 class="card-title">Carré plongeant</h5>
								<p> 125.00£ </p> 
		
				            <a href="{{ path('app_carr_plongeant') }}" class="btn btn-primary">Voir l'article</a>
			                  </br>
		                </div>
		            </div>
		        </section></br>
			</div> 
		
		
			 <div class="container">
				<section class="row">
		            <div class="col-12"></div>
		            <div class="card" style="width: 18rem;">
			            <img src="{{ asset('images/Perruques/Perruque courte/image16.jpg') }}" class="d-block w-100" alt="..."/>
			            <div class="card-body">
				            <h5 class="card-title">Perruque courte</h5>
								<p> 99.00£ </p> 
		
				            <a href="{{ path('app_perruque_courte') }}" class="btn btn-primary">Voir l'article</a>
			                  </br>
		                </div>
		            </div>
		        </section></br>
			</div> 
		
			 <div class="container">
				<section class="row">
		            <div class="col-12"></div>
		            <div class="card" style="width: 18rem;">
			            <img src="{{ asset('images/Perruques/Perruques 360°/image47.jpeg') }}" class="d-block w-100" alt="..."/>
			            <div class="card-body">
				            <h5 class="card-title">Perruques 360°</h5>
								<p> 350.00£ </p> 
		
				            <a href="{{ path('app_perruques360_') }}" class="btn btn-primary">Voir l'article</a>
			                  </br>
		                </div>
		            </div>
		        </section></br>
			</div> 
		
		
			<div class="container">
				<section class="row">
		            <div class="col-12"></div>
		            <div class="card" style="width: 18rem;">
			            <img src="{{ asset('images/Perruques/Perruques de couleurs/image56.jpg') }}" class="d-block w-100" alt="..."/>
			            <div class="card-body">
				            <h5 class="card-title">Perruques de couleurs</h5>
								<p> 100.00£ </p> 
		
				            <a href="{{ path('app_perruques_de_couleurs') }}" class="btn btn-primary">Voir l'article</a>
			                  </br>
		                </div>
		            </div>
		        </section></br>
			</div> 
		
		
		
			<div class="container">
				<section class="row">
		            <div class="col-12"></div>
		            <div class="card" style="width: 18rem;">
			            <img src="{{ asset('images/Perruques/Perruques frange/image114.jpg') }}" class="d-block w-100" alt="..."/>
			            <div class="card-body">
				            <h5 class="card-title">Perruques frange</h5>
								<p> 125.00£ </p> 
		
				            <a href="{{ path('app_perruques_frange') }}" class="btn btn-primary">Voir l'article </a>
			                  </br>
		                </div>
		            </div>
		        </section></br>
			</div> 
		
		
		
		
			<div class="container">
				<section class="row">
		            <div class="col-12"></div>
		            <div class="card" style="width: 18rem;">
			            <img src="{{ asset('images/Perruques/Perruques sans colle/image138.jpg') }}" class="d-block w-100" alt="..."/>
			            <div class="card-body">
				            <h5 class="card-title">Perruques sans colle</h5>
								<p> 225.00£ </p> 
		
				            <a href="{{ path('app_perruques_sans_colle') }}" class="btn btn-primary">Voir l'article</a>
			                  </br>
		                </div>
		            </div>
		        </section></br>
			</div> 
		
		
			<div class="container">
				<section class="row">
		            <div class="col-12"></div>
		            <div class="card" style="width: 18rem;">
			            <img src="{{ asset('images/Tissages brésilien/PACK 3 BUNDLE/bundle1.jpg') }}" class="d-block w-100" alt="..."/>
			            <div class="card-body">
				            <h5 class="card-title">PACK 3 BUNDLE</h5>
								<p> 140.00£ </p> 
		
				            <a href="{{ path('app_pack3_bundle') }}" class="btn btn-primary">Voir l'article</a>
			                  </br>
		                </div>
		            </div>
		        </section></br>
			</div> 
		
		
		<div class="container">
				<section class="row">
		            <div class="col-12"></div>
		            <div class="card" style="width: 18rem;">
			            <img src="{{ asset('images/Tissages brésilien/PACK 3 BUNDLE + CLOSURE/closure1.jpg') }}" class="d-block w-100" alt="..."/>
			            <div class="card-body">
				            <h5 class="card-title">PACK 3 BUNDLE + CLOSURE</h5>
								<p> 225.00£ </p> 
		
				            <a href="{{ path('app_pack3_bundle_plus_closure') }}" class="btn btn-primary">Voir l'article</a>
			                  </br>
		                </div>
		            </div>
		        </section></br>
			</div> 
		
		
		<div class="container">
				<section class="row">
		            <div class="col-12"></div>
		            <div class="card" style="width: 18rem;">
			            <img src="{{ asset('images/Tissages brésilien/PACK 3  BUNDLE DÉGRADÉ  + CLOSURE/degrade1.jpg') }}" class="d-block w-100" alt="..."/>
			            <div class="card-body">
				            <h5 class="card-title">PACK 3  BUNDLE DÉGRADÉ  + CLOSURE</h5>
								<p> 237.00£ </p> 
		
				            <a href="{{ path('app_pack3_bundle_d_grad_plus_closure') }}" class="btn btn-primary">Voir l'article</a>
			                  </br>
		                </div>
		            </div>
		        </section></br>
			</div> 
		
		
		
		
		
		{% endblock %}
