{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}

<div class='container'>
        <div class='row'>    
            <img src="/images/logo.png" class="logo col-4"> 
                <div class='col-6 my-auto'>
                    <div>Facture N° {{ factId }}</div>
                    <div>Commande N°  {{ comId }}  du  {{ createAt ? createAt|date('Y-m-d') : '' }}</div>
                    <div>Date : {{ dateFact ? dateFact|date('Y-m-d') : '' }}</div>
                    
                </div>
                <div> Client : n°{{ adrLivr.Id }}, {{ adrLivr.AdrNom}} {{ adrLivr.AdrPrenom}}  </div>
        <div> Adresse de livraison : {{ adrLivr.Adresse }}, {{ adrLivr.AdrCodePostal }}, {{adrLivr.AdrVille}}, {{ adrLivr.AdrPays}} </div>
            <div> {{ adrLivr.AdrTelephone }}, {{ adrLivr.AdrEmail }}  </div>
            </div>
            {# Adresse de facturation : {{ adrFact.AdrNom }} {{ adrFact.AdrPrenom }} , {{ adrFact.AdrRue }} , {{ adrFact.AdrCodePostal }} {{ adrFact.AdrVille }} {{ adrFact.AdrPays }} #}
        </div>
        <div class='mt-5'> Description de la commande </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>REF.</th>
                <th>DESIGNATION</th>
                <th>P U</th>
                <th>Quantité</th>
                <th>Total HT</th>
                <th>TVA</th>
                <th>Total TVA</th>
                <th>Frais de port</th>
                <th>Total TTC</th>
                {# <th>Adresse</th>
                <th>Adresse de facturation</th>
                <th>Numero client</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Date commande</th> #}
                {#  <th>Com_adresse_facturation</th>
                <th>Com_isPaid</th>
                <th>Com_moyen_paiement</th>
                <th>Com_stripe_session_id</th>
                <th>Com_paypal_id</th>
                <th>actions</th> #}
            </tr>
                </thead>

                <tbody> 
                {# <pre>
                    {{ dump(panier) }}
                </pre> #}
        {% for commande in commandes %}
            <tr>
            <td>{{ commande.c_id }}</td>
            <td>{{ commande.p_nom }}</td>
                <td>{{ commande.p_prix| format_currency('EUR', locale='fr') }}</td>
                <td>{{ commande.p_quantite }}</td>
                <td>{{ commande.p_total1| format_currency('EUR', locale='fr') }}</td>
                <td>{{ (commande.p_total1 * 0.2)| format_currency('EUR', locale='fr')}}</td>
                <td>{{(commande.p_total1 + (commande.p_total1 * 0.2))| format_currency('EUR', locale='fr')}}</td>
                <td> {{ (commande.c_t)}} </td> 
                <td>{{(commande.p_total1 + (commande.p_total1 * 0.2) + (commande.c_t))| format_currency('EUR', locale='fr')}}</td>

                 {# <td>{{ commande.c_adLiv }}</td>
                <td>{{ commande.c_adFac }}</td>
                <td>{{ commande.user_id }}</td>
                <td>{{ commande.user_email }}</td>
                <td>{{ commande.user_tel }}</td>
                <td>{{ commande.c_date ? commande.c_date|date('Y-m-d') : '' }}</td> 
                {<td>{{ commande.c_date ? commande.c_date|date('Y-m-d H:i:s') : '' }}</td> 
                 <td>{{ commande.p_SousTotal }}</td>  #}
                {# <td>{{ commande.comAdresseFacturation }}</td>
                <td>{{ commande.comIsPaid ? 'Yes' : 'No' }}</td>
                <td>{{ commande.comMoyenPaiement }}</td>
                <td>{{ commande.comStripeSessionId }}</td>
                <td>{{ commande.comPaypalId }}</td> #}
               
  {# {% else %} 
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
           {% for total in totals %}
           <td>Transporteur</td>
           <td>{{ total.p_tra }} </td>
           <td> {{ total.p_fdp | format_currency('EUR', locale='fr') }} </td>
           <td> </td>
            <td> {{ total.p_fdp | format_currency('EUR', locale='fr')}} </td>
             <td colspan="2"></td>
                          {% endfor %}
        </tbody>
          <tfoot>
          {% for total in totals %}
                        <tr>
                         <td colspan="2"></td>
                            <td colspan="2">Total</td>
                            
                            <td> {{ total.p_total | format_currency('EUR', locale='fr')}} </td>
                            <td> {{ ((total.p_total - total.p_fdp)  * 0.2) | format_currency('EUR', locale='fr') }} </td>
                            <td> {{ (((total.p_total - total.p_fdp)  * 0.2) + (total.p_total))| format_currency('EUR', locale='fr') }} </td>
                        </tr>
                          {% endfor %}
          </tfoot>
    </table> #} 

    {# <a href="{{ path('app_commande_crud_new') }}">Create new</a> #}
    {# <p>Solde payable sous « délai de paiement » à réception de facture, par « mode de paiement ».</p>
    <div>Pénalité de retard au taux annuel de « nombre » % </div>
<div>En cas de retard de paiement, application d’une indemnité forfaitaire pour frais de recouvrement de 50 euros (article D. 441-5 du code du commerce).</div>
   <div class='mt-5'> HairCompany </div>
    <div> SA au capital de  </div>
    </div>  #}
    {% endfor %}
{% endblock %} 