{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du transporteur</th>
                <th>Prix du transport</th>
                <th>Adresse de livraison</th>
                <th>Payé</th>
                <th>Mode de paiement</th>
                {# <th>Reference</th> #}
                {# <th>Identifiant de la session</th>
                <th>Identifiant paypal</th> #}
                <th>Date de commande</th>
                <th>Adresse de facturation</th>
                <th>Date de facturation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.transporteurNom }}</td>
                <td>{{ commande.transporteurPrix }}</td>
                <td>{{ commande.livraison }}</td>
                <td>{{ commande.isPaid ? 'Yes' : 'No' }}</td>
                <td>{{ commande.methode }}</td>
                {# <td>{{ commande.reference }}</td> #}
                {# <td>{{ commande.stripeSessionId }}</td>
                <td>{{ commande.paypalCommandeId }}</td> #}
                <td>{{ commande.CreateAt ? commande.CreateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.adrFact }}</td>
                <td>{{ commande.CreateAt ? commande.CreateAt|date('Y-m-d H:i:s T') : '' }}</td>
                <td>
                    <a href="{{ path('app_commande_crud_show', {'id': commande.id}) }}">Afficher</a>
                    <a href="{{ path('app_commande_crud_edit', {'id': commande.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_crud_new') }}">Créer un nouveau</a>
{% endblock %}